body{
     font-family: 'Abril Fatface', cursive;
}
h1{
    font-size: 350%;
    font-weight: 70; 
}
.color{
    color: tomato;
}
section{
    display: flex;
    background-position: left;
}
.half-width{
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}
.half-width img{
    width: 70%;
}