body{
     font-family: 'Abril Fatface', cursive;
     margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: tomato;
}
.flexible-container{
    display: flex;
    margin: 150px;
}
.shape-2{
    display: grid;
    text-align:  center;
    font-size: 50px;
}
.half-width{
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, red);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.orange-color{
    color:orange;
}
.shape-3{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px 150px;

}
.shape-4{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 250px;
}
.center{
    text-align: center;
}
.experience-item{
    width: 60%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 12px;
    box-shadow: 5px 5px 20px gray;
    font-size: 20px;
    
}